<?xml version="1.0" encoding="utf-8"?>

<!-- Config file of CLI Twitter client -->

<configuration>
  <appSettings>
    <!-- New functionality
        | (pipe) seperates Search Groups
        , (comma) seperates Search Terms
    -->
    <!-- All Suchworte von Hagen, Alle Produkte von Roche (https://compendium.ch/comp/de), Alle Produkte von Novartis (https://compendium.ch/comp/de)-->
    <add key="twitter_keywords" value="Actemra,RoActemra,tocilizumab,Alecensa,alectinib,Avastin,Bactrim,Sulfamethoxazole,Bondronat,Bonviva,Boniva,CellCept,Cotellic,Dilatrend,Dormicum,Erivedge,vismodegib,ESBRIET,pirfenidone,Fuzeon,Gazyva,Gazyvaro,obinutuzumab,Herceptin,Invirase,Kadcyla,Kytril,Kevatril,Lariam,Lucentis,MabTheraSC,mabtherea,RituxanHycela,rituxan,rituximab,hyaluronidase,Madopar,MIRCERA,NeoRecormon,Neupogen,OCREVUS,ocrelizumab,Pegasys,Perjeta,Pulmozyme,Roaccutane,Accutane,Rocaltrol,Rocephin,roferon,Tamiflu,Tarceva,TECENTRIQ,atezolizumab,Toradol,Valcyte,Valium,Tretinoin,Vesanoid,Viracept,Xeloda,Xenical,Xofluza,Xolair,omalizumab,Zelboraf" />
    <add key="create_big_file" value="true" />

    <!-- Twitter Streaming API settings.  Replace Twitter OAuth settings with your own -->
    <add key="oauth_consumer_key" value="UiEscmPTsjbTEEt7DTW5h1esq" />
    <add key="oauth_consumer_secret" value="JD3kehtmj9mOcEts3XeSMM15SKeU8AK2YDHaaotv6l2YEUCyjb" />
    <add key="oauth_token" value="1056571046210555904-1FiHZ7sEtkhCdq8hY6QoSsgTm0Uc12" />
    <add key="oauth_token_secret" value="W2OAkLVSdVDNnxX3qe6BfkTqAjqIKN5GiRbiTZjmsvR9X" />

    <!---Mark Rowe - Extended Functionality-->
    <!--If Sentiment Can't figure it out.. kill it from data -->
    <add key="clear_all_with_undefined_sentiment" value="true" />
    <!--Extended Information adds "Tweet Text" and "Author"-->
    <add key="send_extended_information" value="true" />
    <!--Match Mode
         Valid Values:
         "Any"     // must match any keyword.
         "Measure" // -> TODO: Same as Any but calculates how many. 
         "All"     // must match all keywords in the Search Group
    -->
     <add key="match_mode" value="any" />
    <!-- Turn false for Troubleshooting, while false will not send to event hub-->
    <add key="AzureOn" value="false" />
    
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="EventHubConnectionString" value="Access Token" />
    <add key="EventHubName" value="Access Token Secret" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
